*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { font-size: 62.5% }

body {
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #fafafa;
    color: #353537;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}

header {
    padding: 50px 0;
    padding: 5rem 0;
    background-color: #303746;
    text-align: center;
}

main {
    margin: 50px auto;
    margin: 5rem auto;
}

.package-name {
    font-size: 40px;
    font-size: 4rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    color: #e0e0e0;
    font-family: 'Cantata One', Georgia, Times, serif;
    font-weight: 400;
}

.package-desc {
    color: #AEB6C7;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 30px
}

.package-url {
    border: 1px solid #AEB6C7;
    border-radius: 5px;
    color: #AEB6C7;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 15px;
    text-decoration: none;
}

h2, .share-url {
    text-align: center;
}

[data-socialight-url] {
    height: 70px;
    margin-bottom: 35px;
    text-align: center;
}

[data-socialight-channel] {
    background-position: center top;
    background-repeat: no-repeat;
    display: inline-block;
    min-height: 60px;
    min-width: 60px;
    padding: 32px 16px 0;
    text-align: center;
}

[data-socialight-channel='buffer'] {
    background-image: url('img/buffer.png');
}

[data-socialight-channel='twitter'] {
    background-image: url('img/twitter.png');
}

[data-socialight-channel='facebook'] {
    background-image: url('img/facebook.png');
}

[data-socialight-channel='linkedin'] {
    background-image: url('img/linkedin.png');
}

[data-socialight-channel='googleplus'] {
    background-image: url('img/googleplus.png');
}

[data-socialight-channel='pinterest'] {
    background-image: url('img/pinterest.png');
}